
@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/spectre-exp";
@import "node_modules/spectre.css/src/spectre-icons";


::-webkit-scrollbar{width:4px;height:4px}
::-webkit-scrollbar-track-piece{background-color:rgba(0,0,0,0)}
::-webkit-scrollbar-thumb{background:rgba(87,85,217,.2)}
::-webkit-scrollbar-thumb:vertical:hover,::-webkit-scrollbar-thumb:horizontal:hover{background:rgba(48, 46, 205, 0.41)}
html,body,#app,.container{height:100%;width:100%}
body{
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    font-size:.75rem;
    overflow: hidden;
    #app{
        min-width:960px;
        textarea{resize: vertical;}
        .table tbody tr:last-child td{border:none}
        .h1, .h2, .h3, .h4, .h5, .h6,h1,h2,h3,h4,h5,h6,b,strong,th{font-weight: 100;}
        .modal.active .modal-overlay, .modal:target .modal-overlay{
            background: rgba(0,0,0,.05);
            backdrop-filter: blur(3px);
        }
        .p-sticky{top:0;z-index:1;background:#F8F8F8;box-shadow: 0 1px 0 #dadee4}
        .ani{transition:all .5s ease}
        .fullh{height:100%;}
    }
}

/*代码高亮*/
.apihl{
    .apihl_cm { color: #008000; }
    .apihl_re { color: #800000; }
    .apihl_st { color: #800000; }
    .apihl_kw { color: #0000FF; }
    .apihl_mk { color: #0000FF; }
    .apihl_lb { color: #800000; }
    .apihl_vn { color: #FF0000; }
    .apihl_vl { color: #0000FF; }
    .apihl_sl { color: #800000; }
    .apihl_bl { color: #0000FF; }
    .apihl_cn { color: #FF0000; }
    .apihl_cv { color: #0000FF; }
}